.scroll_top {
    position: fixed;
    bottom: 2em;
    right: 4em;
    z-index: 100;
    background-color: var(--clr-bg-alt);
    color: var(--clr-fg);
}

@media (max-width: 600px) {
    .scroll_top {
        display: none;
    }
}