.skills__list {
  max-width: 450px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list_item {
  margin: 0.5em;
}

.skills__list_item i,
.skills__list_item svg {
  margin: 0 0.2em;
  color: var(--clr-primary);
}

.skills__category__title {
  text-align: center;
  margin-top: 1em;
}

.skills__list_item__custom_icon {
  color: var(--clr-primary);
  line-height: 1;
  height: 1lh;
}