@value app from '../../app.module.css';

.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about__image {
  margin-right: 10px;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1.2em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__desc {
  margin-top: 2.4em;
}

.about :global(.link--icon) {
  margin-right: 0.8em;
}

.about :global(.btn--outline) {
  margin-right: 1em;
}

.about__social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 0em
  }

  .about__header {
    flex-direction: column;
    align-items: center;
    align-self: center;
  }

  .about__header > img {
    margin-bottom: 10px;
  }

  .about__header > h1 {
    width: min-content;
    justify-content: center;
  }
}
