.app {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: var(--clr-fg);
  background-color: var(--clr-bg);
}

.spacerTop, .spacerBottom {
  height: 3em
}

@media (max-width: 600px) {
  .spacerTop {
    height: 0;
  }

  .spacerBottom {
    height: 1em;
  }
}
